.*
!.github
!.gitignore
!.travis.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
*.egg

# Environments
venv/

